
body {
    margin: 0px;
    font-family: "TTLakes", 'Times New Roman', sans-serif;
    background-color: #F8F8F8;
}

* {
    box-sizing: border-box; 
}

.slider-header {
    height: 56px;
    background:linear-gradient(to right, #F8F8F8,#FFFFFF);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    padding-top: 16px;
    padding-left: 32px;
    margin-bottom: 25px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;
    margin-left: 32px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-list__logo {
    width: 224px;
    height: 72px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.card-list__button {
width: 40px;
height: 40px;
border-radius: 20px;
border: 2px solid #FF3E79;
background-color: inherit;
display: flex;
align-items: center;
justify-content: center; 
cursor: pointer;
}

.action__button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-left: 31px;  
}

.action__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: "TTLakes";
}


.action__icon {
    margin-right: 7px;
}


@media (max-width: 768px) {
.card-list {
    display: none; }
    .action__button  {
        display: none;
    }

    .card-list__logo {
        width: 240px;}
}

@media (min-width: 768px) {
    .swiper {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
}


@media (min-width: 1120px) {
    .card-list__logo {
        width: 240px;
    }
}

 .visible {
     max-height: 165px;;
}

.rotate {
    transform: rotate(180deg);
}
    
.swiper-slide {
    position: relative;
    margin-left: 24px;
    width: 240px;
    height: 72px;
    overflow: hidden;
}

.swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px; 
    height: 81px;
    background: linear-gradient(to left, #F8F8F8 0.01%, rgba(248,248,248,0) 100%);
    z-index: 2; 
}

.swiper-pagination-bullet-active {
    background: #67696b;
    opacity: 1;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px; 
}

.swiper {
    height: 115px;
}